@import 'src/variables.scss';

form {
  padding-top: 81px;
  padding-bottom: 81px;

  background-color: mat-color($theme-app-light);
  height: calc(100% - 243px);

  h3 {
    font-size: 32px;
    text-align: center;
    padding: 24px 0;
    margin: 0;
  }

  > p {
    text-align: center;
  }

  > section {
    height: 100%;

    button {
      background-color: mat-color($theme-app-secundary);
    }
  }

  nav {
    button {
      margin: 12px;
    }
  }
}
