@import 'src/variables.scss';

form {
  padding-top: 81px;
  padding-bottom: 81px;
  background-color: mat-color($theme-app-light);
  height: calc(100% - 243px);

  background-image: url('/assets/images/image2.jpeg');
  background-size: cover;

  main {
    h3 {
      font-size: 32px;
      text-align: center;
      padding: 24px 0;
      margin: 0;
    }

    p {
      text-align: center;
    }

    section {
      mat-card {
        background-color: mat-color($theme-app-background);
      }
    }

    nav {
      margin-top: 24px;

      button {
        margin: 12px;
      }
    }
  }

  > section {
    height: 100%;

    h2 {
      font-size: 2.5em;
      color: white;

      @media #{$break-lg-screen} {
        color: black;
      }
    }


    button {
      background-color: mat-color($theme-app-secundary);
      font-weight: bold;
      font-size: 1.1em;
      padding: 12px;

      color: white;
      
      @media #{$break-lg-screen} {
        color: black;
      }
    }
  }
}
