<app-header></app-header>
<form>
  <h3>{{pedido.estabelecimento.nome}}</h3>
  <p>Tempo de Espera: {{pedido.estabelecimento.tempoEspera}} minutos</p>
  <section>
    <article *ngFor="let produto of pedido.produtos" fxLayout="column" fxLayoutAlign="center center">
      <p>{{produto.titulo}}</p>
      <p>{{produto.descricao}}</p>
      <p>R$ {{produto.valor}}</p>
    </article>
  </section>
  <nav fxLayout fxLayoutAlign="center center">
    <button type="button" mat-raised-button color="warn">Cancelar</button>
    <button type="button" mat-raised-button color="primary">Confirmar</button>
  </nav>
</form>
<app-bottom-navigation></app-bottom-navigation>
