<app-header></app-header>
<main>
  <h3>Destaque</h3>
  <section fxLayout fxLayoutGap="24px">
    <mat-card *ngFor="let produto of (produtos$ | async)" (click)="onClickProduto(produto)" fxFlex="1 1 240px">
      <img mat-card-image [src]="produto.imgUrl">
      <mat-card-title>{{produto.titulo | limiteCaracteres:'30'}}</mat-card-title>
      <mat-card-subtitle>{{produto.descricao | limiteCaracteres:'50'}}</mat-card-subtitle>
      <mat-card-content>R$ {{produto.valor}}</mat-card-content>
    </mat-card>
  </section>

  <h3>Novidades</h3>
  <section fxLayout fxLayoutGap="24px">
    <mat-card *ngFor="let produto of (produtos$ | async)" (click)="onClickProduto(produto)" fxFlex="1 1 240px">
      <img mat-card-image [src]="produto.imgUrl">
      <mat-card-title>{{produto.titulo | limiteCaracteres:'30'}}</mat-card-title>
      <mat-card-subtitle>{{produto.descricao | limiteCaracteres:'50'}}</mat-card-subtitle>
      <mat-card-content>R$ {{produto.valor}}</mat-card-content>
    </mat-card>
  </section>
</main>
<app-bottom-navigation fxShow fxHide.gt-sm></app-bottom-navigation>
<app-footer fxHide fxShow.gt-sm></app-footer>
