@import 'src/variables.scss';

main {
  margin: 32px;
  margin-top: 100px;
  margin-bottom: 100px;

  h3 {
    font-size: 32px;
  }

  section {
    height: 330px;
    overflow: auto;

    mat-card {
      display: inline-block;
      height: 300px;
      margin-right: 24px;

      img {
        background-size: cover;
      }

      mat-card-title {
        font-size: 1em;
      }

      mat-card-content {
        position: absolute;
        bottom: 15px;
        color: mat-color($theme-app-primary);
      }
    }
  }
}
