@import 'src/variables.scss';

main {
  margin: 32px;
  margin-top: 100px;
  margin-bottom: 100px;

  h3 {
    font-size: 32px;
  }

  section {
    height: 320px;
    white-space: nowrap;
    overflow: auto;

    mat-card {
      display: inline-block;
      height: 260px;
      width: 200px;
      margin-right: 24px;

      img {
        background-size: cover;
      }

      mat-card-title, mat-card-subtitle, mat-card-content {
        white-space: normal;
      }

      mat-card-title {
        font-size: 1em;
      }

      mat-card-content {
        position: absolute;
        bottom: 10px;
        color: mat-color($theme-app-primary);
      }
    }
  }
}
