<header>
  <mat-toolbar color="primary" gdColumns="48px auto 48px">
    <mat-icon (click)="onBack()">chevron_left</mat-icon>
    <h1 [routerLink]="['/landing']">eComida</h1>
  </mat-toolbar>
</header>
<main fxLayout fxLayoutAlign="center start">
  <form [formGroup]="estabelecimentoForm" (ngSubmit)="onSubmit()"
        fxLayout.xs="column" fxLayoutAlign.xs="start center" fxFlex.xs="300px"
        gdColumns.lg="repeat(2, 400px)" gdGap.lg="24px" fxLayoutAlign.lg="center"
  >
    <h2 gdColumn.lg="1 / 3">Cadastro</h2>
    <div gdColumn.lg="1">
      <mat-form-field>
        <input type="text" matInput placeholder="Razão Social" formControlName="razaoSocial">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Nome Fantasia" formControlName="nomeFantasia">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="CNPJ" formControlName="cnpj">
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Senha" formControlName="senha">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Telefone" formControlName="telefone">
      </mat-form-field>
    </div>
    <div gdColumn.lg="2">
      <mat-form-field>
        <input type="number" matInput placeholder="CEP" formControlName="cep">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Logradouro" formControlName="logradouro">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Numero" formControlName="numero">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Bairro" formControlName="bairro">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Cidade" formControlName="cidade">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="UF" formControlName="uf">
      </mat-form-field>
    </div>
    <button type="submit" mat-stroked-button color="primary" gdColumn.lg="1 / 3">Cadastrar</button>
  </form>
</main>
<app-footer></app-footer>
