@import 'src/variables.scss';

header {
  height: 81px;

  mat-toolbar {
    height: 100%;

    h1, mat-icon {
      font-size: 48px;
      cursor: pointer;
      outline: none;
    }

    mat-icon {
      width: 48px;
      height: 48px;
    }
  }
}

main {
  margin-top: 100px;

  h2 {
    text-align: center;
    font-size: 32px;
  }

  form {
    margin: 5% 10%;
    width: 100%;

    mat-form-field, button {
      width: 100%;
    }

  }

}

footer {
  height: 81px;
  margin-top: 48px;

  mat-toolbar {
    height: 100%;
    padding: 12px;
  }
}
