<header>
  <mat-toolbar color="primary" fxLayoutAlign="space-between center">
    <h1 [routerLink]="['/landing']">eComida</h1>
    <mat-icon [routerLink]="['/cliente/login']">account_circle</mat-icon>
  </mat-toolbar>
</header>
<main>
  <section class="frase" fxLayout fxLayoutAlign="center center">
    <h1>eComida</h1>
  </section>
  <section class="depoimentos" fxLayout="column" fxLayoutAlign="start center">
    <h2>Depoimentos</h2>
    <section fxLayout fxLayoutGap="24px">
      <mat-card *ngFor="let depoimento of depoimentos" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>"{{depoimento.mensagem}}"</mat-card-title>
        <mat-card-subtitle>{{depoimento.estabelecimentoNomeFantasia}}</mat-card-subtitle>
      </mat-card>
    </section>
  </section>
  <section class="estabelecimento" gdColumns="100%" gdRows="130px 100px 49px" gdRows.lg="100px 80px 49px">
      <h2>A sua fome de crescer ta no eComida</h2>
      <p>Cadastre seu restaurante e cresça até 50% no mês.</p>
      <a mat-raised-button [routerLink]="['/estabelecimento']">Cadastre seu estabelecimento</a>
  </section>
</main>
<footer>
  <mat-toolbar color="primary" fxLayout="column">
    <span>2019 &copy; Todos os direitos reservados</span>
  </mat-toolbar>
</footer>
