<app-header></app-header>
<main gdColumns.gt-sm="repeat(2, 1fr)">
  <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="48px">
    <button fxShow fxHide.gt-sm class="link-cadastro" type="button" mat-button color="primary" fxFlexAlign="center" [routerLink]="['/cliente/cadastro']">Ainda não possui cadastro? Clique aqui.</button>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
      <h1>Login</h1>
      <mat-form-field>
        <input type="email" matInput placeholder="Email" formControlName="email">
        <mat-error>O campo e-mail é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Senha" formControlName="senha">
        <mat-error>O campo senha é obrigatório</mat-error>
      </mat-form-field>
      <p *ngIf="this.loginForm.valid && error?.status === 'invalido'">{{error.mensagem}}</p>
      <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Entrar</button>
    </form>
    <button class="link-recuperar-senha" type="button" mat-button color="primary" fxFlexAlign="center">Esqueci minha senha</button>
  </section>
  <section>
    <app-cliente-cadastro fxHide fxShow.gt-sm></app-cliente-cadastro>
  </section>
</main>
