@import 'src/variables.scss';

form {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;

  mat-form-field {
    width: 100%;

    @media #{$break-lg-screen} {
      width: 300px;
    }
  }

  button {
    width: 100px;
  }
}
