@import 'src/variables.scss';

main {
  padding-top: 81px;
  background-image: url('/assets/images/image3.jpeg');
  background-size: cover;
  height: calc(100% - 162px);
  overflow: hidden;

  h3 {
    font-weight: bold;
    font-size: 1.3em;
  }

  button {
    background-color: mat-color($theme-app-secundary);
    font-weight: bold;
    font-size: 1.1em;
    padding: 12px;

    color: white;
    
    @media #{$break-lg-screen} {
      color: black;
    }
  }

  section {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 200px;
    row-gap: 24px;
    overflow: auto;
    height: 100%;
    padding: 24px;
  }

  mat-card {
    background-color: rgba(255, 255, 255, 0.5);

    section {
      height: calc(100% - 19px);
      padding: 0;

      article {
        height: calc(100% - 64px);

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

    }
  }
}
