<app-header></app-header>
<main>
    <section>
        <mat-card *ngFor="let pedido of pedidos">
            <p>{{pedido.status}}</p>
            <section>
                <article *ngFor="let pedidoItem of pedido.pedidoItens" gdColumns="90px auto" gdRows="repeat(3, 1fr)" gdGap="12px">
                    <img gdRow="1 / span 3" gdGridAlign="center center" [src]="pedidoItem.produto.imgUrl" alt="">
                    <span>{{pedidoItem.produto.titulo}}</span>
                    <span>{{pedidoItem.produto.descricao}}</span>
                    <span gdColumn="2">R$ {{pedidoItem.valor | number:'1.2-2'}}</span>
                </article>
            </section>
        </mat-card>
    </section>
</main>
<app-bottom-navigation fxShow fxHide.gt-sm></app-bottom-navigation>
<app-footer fxHide fxShow.gt-sm></app-footer>
