main {
    padding-top: 100px;
    padding-bottom: 50px;

    form {
        width: 70%;

        mat-form-field {
            width: 70%;
        }
    }

    .mensagem-confirmacao {
        color: green;
    }

    button {
        margin-top: 24px;
    }
}