<app-header fxShow fxHide.gt-sm></app-header>
<main fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="48px">
    <h1>Cadastro</h1>
    <form fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
            <input type="text" matInput placeholder="Nome">
        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="CPF">
        </mat-form-field>
        <mat-form-field>
            <input type="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Senha">
        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="CEP">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Logradouro">
        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="Numero">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Bairro">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Cidade">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="UF">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Confirmar</button>
    </form>
</main>