<app-estabelecimento-header></app-estabelecimento-header>
<div class="container" gdColumns="100%" gdRows="81px auto">
    <header>
        <h1>Cadastro de Produto</h1>
    </header>
    <form [formGroup]="produtoForm" (ngSubmit)="onSubmit()" gdColumns="repeat(2, 1fr)" fxLayoutGap="48px">
        <div fxLayout="column">
            <h2>Produto</h2>
            <mat-form-field>
                <input type="text" matInput name="titulo" placeholder="Nome" formControlName="titulo">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput name="descricao" id="descricao" cols="30" rows="3" placeholder="Descricao" formControlName="descricao"></textarea>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput name="valor" placeholder="Valor" formControlName="valor">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput name="imgUrl" placeholder="Imagem URL" formControlName="imgUrl">
            </mat-form-field>
            <nav fxLayout fxLayoutAlign="end center">
                <button type="submit" mat-raised-button color="primary">Confirmar</button>
            </nav>
        </div>
        <div fxLayout="column">
            <div fxLayout fxLayoutAlign="space-between center">
                <h2>Componentes</h2>
                <button type="button" mat-raised-button color="primary" (click)="openDialogComponente()">Adicionar</button>
            </div>
            <div class="componente_wrapper">
                <section class="componente" *ngFor="let componente of componentes; let idxComponente = index">
                    <header gdColumns="50px repeat(2, 1fr) 50px" gdGap="12px">
                        <mat-icon gdGridAlign="center center" (click)="openDialogComponente(idxComponente)">edit</mat-icon>
                        <h2 gdColumn="2 / span 2" gdGridAlign="start center">{{componente.descricao}}</h2>
                        <mat-icon gdGridAlign="center center" (click)="openDialogRemover()">remove</mat-icon>
                        <span gdColumn="1 / span 2" gdGridAlign="start center">Escolha ate <b>{{componente.quantidade}}</b> itens</span>
                        <span gdColumn="3 / span 2" class="obrigatorio" gdGridAlign="end center">{{componente.obrigatorio ? 'Obrigatorio' : ''}}</span>
                    </header>
                    <mat-divider></mat-divider>
                    <main class="componente-item" fxLayout="column" fxLayoutGap="12px">
                        <article
                            *ngFor="let componenteItem of componente.componenteItems; let idxComponenteItem = index"
                            gdColumns="50px auto 100px 50px"
                            fxLayoutGap="6px">
                            <mat-icon gdGridAlign="center center" (click)="openDialogComponenteItem(idxComponente, idxComponenteItem)">edit</mat-icon>
                            <span>{{componenteItem.descricao}}</span>
                            <span gdGridAlign="end center">R$ {{componenteItem.valor}}</span>
                            <mat-icon gdGridAlign="center center" (click)="openDialogRemover()">remove</mat-icon>
                        </article>
                        <button type="button" mat-mini-fab color="warn" (click)="openDialogComponenteItem(idxComponente)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </main>
                </section>
            </div>
        </div>
    </form>
</div>
