@import 'src/variables.scss';

:host {
    display: block;
    height: 100%;
    width: 100%;
}

.container {
    
    header {
        text-align: center;
    }

    form {
        margin: 0 10%;
    }

    .componente_wrapper {
        height: 600px;
        overflow-y: auto;
        padding: 24px;
    }

    button {
        height: 45px;
    }

    section {
        padding: 12px 24px;
        border-radius: 4px;
        background-color: mat-color($theme-app-background);
        margin-bottom: 24px;
    }

    mat-icon {
        cursor: pointer;
    }

    .componente {
        header {
            padding: 12px 0;
            margin: 0;
            
            h2 {
                margin: 0;
            }

            span {
                font-size: 1.2em;
            }
        }

        .obrigatorio {
            color: mat-color($theme-app-secundary);
            font-weight: bold;
        }
    }

    .componente-item {
        margin: 18px 0;
    }
}
