@import 'src/variables.scss';

:host {
    display: block;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;

    header {
        text-align: center;
    }

    form {
        margin: 0 10%;
    }

    .componente_wrapper {
        height: 600px;
        overflow-y: auto;
    }

    button {
        height: 45px;
    }

    section {
        padding: 12px 24px;
        border-radius: 4px;
        background-color: mat-color($theme-app-background);
        margin-bottom: 24px;
    }

    .componente-item {
        margin: 18px 0;
    }
}
