<app-estabelecimento-header></app-estabelecimento-header>
<div class="container" gdColumns="100%" gdRows="81px auto">
    <header>
        <h1>Cadastro de Produto</h1>
    </header>
    <form gdColumns="repeat(2, 1fr)" fxLayoutGap="48px">
        <div fxLayout="column">
            <h2>Produto</h2>
            <mat-form-field>
                <input type="text" matInput placeholder="Nome">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput name="" id="" cols="30" rows="3" placeholder="Descricao"></textarea>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Valor">
            </mat-form-field>
            <nav fxLayout fxLayoutAlign="end center">
                <button type="submit" mat-raised-button color="primary">Cadastrar</button>
            </nav>
        </div>
        <div fxLayout="column">
            <div fxLayout fxLayoutAlign="space-between center">
                <h2>Componentes</h2>
                <button mat-raised-button color="primary" (click)="openDialogComponente()">Adicionar</button>
            </div>
            <div class="componente_wrapper">
                <section class="componente" *ngFor="let componente of componentes; let i = index">
                    <div gdColumns="500px 100px 50px" gdRows="repeat(2, 50px)" gdAlignRows="between between" gdAlignColumns="center center">
                        <h2>{{componente.descricao}}</h2>
                        <span>{{componente.obrigatorio ? 'Obrigatorio' : ''}}</span>
                        <button
                            mat-mini-fab color="warn"
                            gdGridAlign="end center"
                            gdRow="1 / 3"
                            gdColumn="3 / 4"
                            (click)="openDialogComponenteItem(i)"
                        >
                            <mat-icon>add</mat-icon>
                        </button>
                        <span gdRow="2">Escolha ate <b>{{componente.quantidade}}</b> itens</span>
                    </div>
                    <mat-divider></mat-divider>
                    <main class="componente-item" fxLayout="column" fxLayoutGap="12px">
                        <article
                            *ngFor="let componenteItem of componente.componenteItems"
                            fxLayout
                            fxLayoutAlign="space-between center"
                            fxLayoutGap="6px">
                            <span>{{componenteItem.descricao}}</span>
                            <span>R$ {{componenteItem.valor}}</span>
                        </article>
                    </main>
                </section>
            </div>
        </div>
    </form>
</div>
