<app-estabelecimento-header></app-estabelecimento-header>
<main>
    <mat-form-field>
        <input type="text" matInput (keyup)="aplicarFiltro($event.target.value)" placeholder="Filtro"> 
    </mat-form-field>
    <div>
        <table mat-table [dataSource]="fonteDados" matSort>
            <ng-container matColumnDef="idProduto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
                <td mat-cell *matCellDef="let row">{{row.idProduto}}</td>
            </ng-container>
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</th>
                <td mat-cell *matCellDef="let row">{{row.titulo}}</td>
            </ng-container>
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Descricao</th>
                <td mat-cell *matCellDef="let row">{{row.descricao}}</td>
            </ng-container>
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                <td mat-cell *matCellDef="let row">{{row.valor}}</td>
            </ng-container>
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef>Ações</th>
                <td mat-cell *matCellDef="let row" fxLayout fxLayoutGap="12px">
                    <button type="button" mat-raised-button color="primary" [routerLink]="['/administrativo/produto', row.idProduto]">Editar</button>
                    <button type="button" mat-raised-button color="warn" (click)="onExcluirProduto(row.idProduto)">Excluir</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="colunaNomes"></tr>
            <tr mat-row *matRowDef="let row; columns: colunaNomes;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</main>
<button class="add-button" type="button" mat-fab [routerLink]="['/administrativo/produto/0']">
    <mat-icon>add</mat-icon>
</button>