@import 'src/variables.scss';

main {
  margin: 50px 100px;

  mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  table {
    width: 100%;
  }
}

button[type="button"] {
  background-color: mat-color($theme-app-secundary);
  position: fixed;
  bottom: 40px;
  right: 40px;
}
  