<form [formGroup]="componenteForm" fxLayout="column" fxLayoutGap="4px">
    <mat-form-field>
        <input type="text" matInput placeholder="Descricao" formControlName="descricao">
    </mat-form-field>
    <mat-form-field>
        <input type="number" matInput placeholder="Quantidade Maxima" formControlName="quantidade">
    </mat-form-field>
    <mat-checkbox formControlName="obrigatorio">Obrigatório</mat-checkbox>
    <nav fxLayout fxLayoutGap="12px">
        <button type="button" mat-raised-button color="warn">Cancelar</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="this.componenteForm.value">Cadastrar</button>
    </nav>
</form>