<form *ngIf="data.idxComponenteItem === undefined" [formGroup]="componenteForm" fxLayout="column" fxLayoutGap="4px">
    <mat-form-field>
        <input type="text" matInput placeholder="Descricao" formControlName="descricao">
    </mat-form-field>
    <mat-form-field>
        <input type="number" matInput placeholder="Quantidade Maxima" formControlName="quantidade">
    </mat-form-field>
    <mat-checkbox formControlName="obrigatorio">Obrigatório</mat-checkbox>
    <nav fxLayout fxLayoutGap="12px">
        <button mat-raised-button color="warn" [mat-dialog-close]>Cancelar</button>
        <button
            mat-raised-button
            color="primary"
            [mat-dialog-close]="{
                idxComponente: data.idxComponente,
                componente: this.componenteForm.value
            }">Confirmar</button>
    </nav>
</form>

<form *ngIf="data.idxComponenteItem !== undefined" [formGroup]="componenteItemForm" fxLayout="column" fxLayoutGap="4px">
    <mat-form-field>
        <input type="text" matInput placeholder="Descricao" formControlName="descricao">
    </mat-form-field>
    <mat-form-field>
        <input type="number" matInput placeholder="Valor" formControlName="valor">
    </mat-form-field>
    <nav fxLayout fxLayoutGap="12px">
        <button mat-raised-button color="warn" [mat-dialog-close]>Cancelar</button>
        <button
            mat-raised-button
            color="primary"
            [mat-dialog-close]="{
                idxComponente: data.idxComponente,
                idxComponenteItem: data.idxComponenteItem,
                componenteItem: this.componenteItemForm.value
            }">Confirmar</button>
    </nav>
</form>