<app-header></app-header>
<form fxLayout="column" fxLayoutAlign="start">
  <section class="titulo" fxLayout="column" fxLayoutAlign="start">
    <p>{{produto.descricao}}</p>
    <p>R$ {{produto.valor}}</p>
  </section>
  <section class="descricao" fxLayout="column" fxLayoutAlign="start" *ngFor="let componente of produto.componentes">
    <p>{{componente.descricao}}</p>
    <p fxLayout fxLayoutAlign="space-between">
      <span>Escoha <b>{{componente.quantidade}}</b> opções</span>
      <span class="obrigatorio">{{componente.obrigatorio ? 'OBRIGATORIO' : ''}}</span>
    </p>
    <section class="componentes">
      <article *ngFor="let componenteItem of componente.componenteItems">
        <mat-checkbox (change)="onChangeCheckbox($event, componente, componenteItem)">{{componenteItem.descricao}}</mat-checkbox>
      </article>
    </section>
  </section>
  <nav fxLayout fxLayoutAlign="center center">
    <button mat-mini-fab color="warn" (click)="onRemove()">
      <mat-icon>remove</mat-icon>
    </button>
    <span>{{quantidade}}</span>
    <button mat-mini-fab color="primary" (click)="onAdd()">
      <mat-icon>add</mat-icon>
    </button>
  </nav>
  <!-- <button type="submit" mat-raised-button color="primary">Adicionar</button> -->
  <button type="submit" mat-fab (click)="onSubmit()">
    <mat-icon>check</mat-icon>
  </button>
</form>
<app-bottom-navigation></app-bottom-navigation>
