<app-header></app-header>
<main>
    <h3>Categorias</h3>
    <section>
      <mat-card *ngFor="let categoria of (categorias$ | async)">
        <img mat-card-image [src]="categoria.imagemUrl">
        <mat-card-title>{{categoria.descricao}}</mat-card-title>
      </mat-card>
    </section>

    <h3>Estabelecimentos recomendados para você</h3>
    <section>
        <mat-card *ngFor="let recomendado of recomendacoes" (click)="onClickRecomendacao()">
          <img mat-card-image [src]="recomendado.imgUrl">
          <mat-card-title>{{recomendado.nome}}</mat-card-title>
        </mat-card>
    </section>

    <h3>Estabelecimentos</h3>
    <section class="estabelecimentos">
        <mat-card *ngFor="let estabelecimento of estabelecimentos">
          <img mat-card-image [src]="estabelecimento.imgUrl">
          <mat-card-title>{{estabelecimento.nome}}</mat-card-title>
          <mat-card-content>
            <p>Distância: {{estabelecimento.distancia}}km - {{estabelecimento.bairro}}</p>
            <p>Tempo Entrega: {{estabelecimento.tempoEspera}}</p>
            <p>
              Rating: {{estabelecimento.rating}}
              <mat-icon>star</mat-icon>
            </p>
          </mat-card-content>
        </mat-card>
    </section>
</main>
<app-bottom-navigation></app-bottom-navigation>
