@import 'src/variables.scss';

main {
  margin-top: 100px;

  @media #{$break-lg-screen} {
    margin-left: 100px;
    margin-right: 100px;
  }
}

h3 {
  color: mat-color($theme-app-primary);
  font-size: 2em;
  text-align: center;
}

section {
  height: 220px;
  padding: 24px;
  white-space: nowrap;
  overflow-x: auto;

  mat-card {
    display: inline-block;
    margin-right: 24px;

    img {
      background-size: cover;
      width: 200px;
      height: 150px;
    }

    mat-card-title {
      text-align: center;
      color: mat-color($theme-app-secundary);
    }
  }
}

.estabelecimentos {
  height: 320px;
  margin-bottom: 100px;
}
